@tailwind base;
@tailwind components;
@tailwind utilities;

.body-bg-image {
  background-image: url('../media/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Add additional styling as needed */
}

.bg-party {
  background-image: url('../media/party.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Add additional styling as needed */
}

.nav-underline {
    background-image: url('../media/underline.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Add additional styling as needed */
  }

  .galaxy-button {
    background: linear-gradient(135deg, #6A0DAD, #FF5733, #FF66B2);
  }


  @font-face {
    font-family: 'AquireBold';
    src: url('/fonts/AquireBold-8Ma60.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Aquire';
    src: url('/fonts/Aquire-BW0ox.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Trench';
    src: url('/fonts/TrenchThin-16R0.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Digital7Mono';
    src: url('/fonts/Digital7Mono-Yz9J4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  input {
    color: white; /* Change this to your desired text color */
  }

  /* https://sjbhs.edu.in/phenomenon add to links while exporting */