@tailwind base;
@tailwind components;
@tailwind utilities;

.body-bg-image {
    background-image: url('../media/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Add additional styling as needed */
  }

.nav-underline {
    background-image: url('../media/underline.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Add additional styling as needed */
  }

  .galaxy-button {
    background: linear-gradient(135deg, #6A0DAD, #FF5733, #FF66B2);
  }